export(myTarAuth)
export(myTarRefreshToken)
export(myTarGetCampaignList)
export(myTarGetClientList)
export(myTarGetStats)
export(myTarGetAdList)
export(myTarGetTotalStats)
import(lubridate)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(httr,add_headers)
importFrom(lubridate,day)
importFrom(lubridate,month)
importFrom(stringr,str_interp)
importFrom(lubridate,year)
