export(myTarAuth)
export(myTarRefreshToken)
export(myTarGetCampaignList)
export(myTarGetAdList)
export(myTarGetClientList)
export(myTarGetStats)
importFrom(httr, GET)
importFrom(httr, POST)
importFrom(httr, stop_for_status)
importFrom(httr, content)
importFrom(httr, content_type)
importFrom(httr, add_headers)
importFrom(lubridate, day)
importFrom(lubridate, month)
importFrom(lubridate, year)
importFrom(dplyr, bind_rows)
importFrom(dplyr, left_join)
importFrom(dplyr, bind_cols)
importFrom(stats, setNames)
importFrom(stringr, str_interp)
importFrom("stats", "runif")
importFrom("utils", "browseURL")